<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet"
          href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script type="module" src="https://unpkg.com/ionicons@undefined/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@undefined/dist/ionicons/ionicons.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Layout</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ECommorceWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />

</head>
<body>

    <div class="admin-container">
        <div class="admin-container-left">
            <div class="acl-navbar">
                <div class="acl-navbar-top">
                    <span>
                        <i class='bx bx-user-circle'></i>
                        Orhan Sümer
                    </span>
                </div>
                <div class="acl-navbar-bottom" >
                    <ul>
                        <li>
                            <a href="/Admin/Index" class="acl-navbar-bottom-btn">  <i class='bx bxs-dashboard'></i> Dashboard</a>
                        </li>
                        <li>
                            <a  class="acl-navbar-bottom-btn">  <i class='bx bxs-user-detail'></i> Users</a>
                        </li>
                        <li>
                            <a href="/Product/AdminIndex" class="acl-navbar-bottom-btn">  <i class='bx bxs-component'></i> Products </a>
                        </li>
                        <li>
                            <a  class="acl-navbar-bottom-btn">  <i class='bx bx-category-alt'></i>Categories </a>
                        </li>
                        <li>
                            <a  class="acl-navbar-bottom-btn">  <i class='bx bxs-shopping-bags'></i> Orders </a>
                        </li>
                        <li>
                            <a  class="acl-navbar-bottom-btn">   <i class='bx bx-checkbox-square'></i> Coupons </a>
                        </li>
                        <li>
                            <a  class="acl-navbar-bottom-btn">  <i class='bx bx-bell'></i> Notification </a>
                        </li>
                        <li>
                            <a  class="acl-navbar-bottom-btn">  <i class='bx bx-reset'></i> Product Option </a>
                        </li>
                        <li>
                            <a  class="acl-navbar-bottom-btn">  <i class='bx bx-revision'></i> Product Review </a>
                        </li>
                        <li>
                            <a  class="acl-navbar-bottom-btn">  <i class='bx bx-heart'></i> Wish List Item </a>
                        </li>
                        <li>
                            <a  class="acl-navbar-bottom-btn">  <i class='bx bx-cog'></i> Settings </a>
                        </li>
                        <li>
                            <a href="/Login/Logout" class="acl-navbar-bottom-btn">  <i class='bx bx-log-out'></i> Logout </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="admin-container-right">
            <div class="acr-top">
                top
            </div>
            <div class="acr-bottom">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminsite.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
